.menu {
    display: flex;
    margin-top: 20px;
    width: 1280px;
    height: 260px;
    flex-wrap: wrap;  
}

.menu_title {
    text-align: left;
    width: 10em;
    font-style: normal;
    font-size: 55px;
    color: rgb(9, 27, 78);
}

.menu_image {
    padding-top: 30px;
    padding-left: 140px;
    margin: 0 auto;
    width: 280px;
    height: 220px;
    opacity: 0.8;
    transition: 1s;
}

.menu_image:hover {
    opacity: 1; 
    transition: 1s;
}

.menu_text {
    width: 35em;
    text-align: left;
}

.login_btn {
    float:left;
    color: rgb(9, 27, 78);
    font-size: 17px;
    width: 150px;
    background-color: rgb(223, 236, 239);
}

.auth_btn {
    float:left;
    color: rgb(9, 27, 78);
    font-size: 17px;
    width: 150px;
    background-color: rgb(223, 236, 239);
    margin-left: 10px;
}

.menu_info {
    margin-top: 120px;
}

.menu_info_image {
    transition: 1s;
    opacity: 0.7;
    width: 600px;
    height: 300px;
}

.menu_info_image:hover {
    opacity: 1; 
    transition: 1s;
}

.text_info {
    color: rgb(9, 27, 78);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form_input {
    margin: 0 auto;
}

.input_password {
    width: 300px;
    padding: 0.5rem 1rem;
}

.header_form {
    width: 24px;
    font-size: 24px;
    color: rgb(9, 27, 78);
    display: flex;
}
.input_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.header_title {
    margin-bottom: 30px;
}

.form_item {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    text-align: left;
}

.btn_reg {
    background-color: rgb(223, 236, 239);
    color: rgb(9, 27, 78);
    font-size: 15px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.folder_open_filed {
    cursor: pointer;
    width: 22px;
    height: 20px;
    display: flex;
}

.folder_open_filed:hover {
    width: 25px;
    height: 23px;
    transition: 0.4s;
}

.edit_outlined {
    cursor: pointer;
    font-size: 20px;
}

.edit_outlined:hover {
    color: SeaGreen;
    transition: 0.4s;
}

.user_delete_outlined {
    cursor: pointer;
    font-size: 20px;
}

.user_delete_outlined:hover {
    color: FireBrick;
    transition: 0.4s;
}

.admin_menu_auth_smile {
    font-size: 30px;
}

.ant-table-cell {
    word-break: break-all;
    max-width: 150px;
}
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    text-align: center;
}

.modal_content.active {
    transform: scale(1);
}

.btn_modal {
    margin: 5px;
}

.btn_edit_file {
    text-align: center;
}

.icon_warning {
    color: #e64c12;
    font-size: 23px;
}
.input_create_form {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
}

.form_input_item {
    width: 200px;
}

.btn_create_user {
    cursor: pointer;
    color: SeaGreen;
    font-size: 23px;
}
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal_content.active {
    transform: scale(1);
}

.btn_modal {
    margin: 5px;
}

.btn_ok_edit  {
    transform: scale(0);
    transition: 0.3s all;
}

.btn_ok_edit.active {
    transform: scale(1);
}

.modal_cloud_image {
    width: 40px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.icon_change_ok {
    color: green;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 6px;
}
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal_content.active {
    transform: scale(1);
}

.btn_modal {
    margin: 5px;
}

.btn_ok_edit  {
    transform: scale(0);
    transition: 0.3s all;
}

.btn_ok_edit.active {
    transform: scale(1);
}

.modal_cloud_image {
    width: 40px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.icon_change_ok {
    color: green;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 6px;
}
.user_menu {
    display: flex;
    justify-content: center;
}

.user_header {
    display: flex;
}

.user_header_text_cab {
    font-size: 20px;
}

.upload_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card_user_btn {
    margin-left:auto;
}

.user_cloud_image {
    width: 75px;
    height: 60px;
}

.user_header_text {
    font-size: 40px;
}

.upload_btn {
    display: flex;
    justify-content: center;
}

.card_user {
    color: rgb(9, 27, 78);
    width: 300px;
    border-radius: 8px;
}

.card_user_text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.card_user_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.list_content {
    width: 60%;
    flex-wrap: wrap;
    margin-left: 20px;
    height: max-content;
    position: relative;
    z-index: 1;
}

.card_file.card {
    padding: 10px;
    background-color: rgb(236, 248, 254);
    border-radius: 8px;
    display: flex; 
    text-align: left;
    height: max-content;
    font-size: 15px;
    justify-content: space-between;
}

.card_file_img {
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.btn_card_file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
}

.card_text_comment:hover {
    cursor: pointer;
    color: rgb(51, 155, 246);
}

.card-text, .card-title {
    margin: 0 0 5px 10px;
    padding: 3px;
    word-break: break-all;
}

.card_img {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn_edit_user {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.btn_delete_user:hover {
    color: #f13a0f;
    border-color: #f13a0f;
}

.ant-form-item-control-input-content {
    display: flex;
    width: 100%;
    line-height: 100%;
    justify-content: center;
    gap: 5px;
}

.input_form {
    transition: 0.4s;
}

.cards_file {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.user_menu_auth_smile {
    font-size: 30px;
}

.card_text_file {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.btn_card_file {
    min-width: 140px;
    z-index: 0;
}

.btn_upload {
    width: 100%;
}

.input_update_file {
    display: flex;
    width: 20%;
    height: 30px;
    margin-bottom: 5px;
    background-color: #c6ebe7;
    border: 1.5px solid #5196b0;
}

.input_text_file {
    width: 100%;
}

.btn_comments {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.card_info {
    display: contents;
}

.upload_file_menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input_file {
    margin-top: 10px;
    display: flex;
}

.label_form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.upload_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.input_upload {
    visibility: hidden;
}

.upload_label {
    display: flex;
    width: 45px;
}

.img_upload {
    width: 45px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
}
.img_upload:hover {
    opacity: 1;
    transition: 1s;
}

:root {
  font-family: Trebuchet MS, sans-serif;
    src: url(../9f1aa0037c24e0f6935e.ttf);
  line-height: 1.5;
  font-weight: 400;
}

