.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form_input {
    margin: 0 auto;
}

.input_password {
    width: 300px;
    padding: 0.5rem 1rem;
}

.header_form {
    width: 24px;
    font-size: 24px;
    color: rgb(9, 27, 78);
    display: flex;
}