.folder_open_filed {
    cursor: pointer;
    width: 22px;
    height: 20px;
    display: flex;
}

.folder_open_filed:hover {
    width: 25px;
    height: 23px;
    transition: 0.4s;
}

.edit_outlined {
    cursor: pointer;
    font-size: 20px;
}

.edit_outlined:hover {
    color: SeaGreen;
    transition: 0.4s;
}

.user_delete_outlined {
    cursor: pointer;
    font-size: 20px;
}

.user_delete_outlined:hover {
    color: FireBrick;
    transition: 0.4s;
}

.admin_menu_auth_smile {
    font-size: 30px;
}

.ant-table-cell {
    word-break: break-all;
    max-width: 150px;
}