.user_menu {
    display: flex;
    justify-content: center;
}

.user_header {
    display: flex;
}

.user_header_text_cab {
    font-size: 20px;
}

.upload_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card_user_btn {
    margin-left:auto;
}

.user_cloud_image {
    width: 75px;
    height: 60px;
}

.user_header_text {
    font-size: 40px;
}

.upload_btn {
    display: flex;
    justify-content: center;
}

.card_user {
    color: rgb(9, 27, 78);
    width: 300px;
    border-radius: 8px;
}

.card_user_text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.card_user_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.list_content {
    width: 60%;
    flex-wrap: wrap;
    margin-left: 20px;
    height: max-content;
    position: relative;
    z-index: 1;
}

.card_file.card {
    padding: 10px;
    background-color: rgb(236, 248, 254);
    border-radius: 8px;
    display: flex; 
    text-align: left;
    height: max-content;
    font-size: 15px;
    justify-content: space-between;
}

.card_file_img {
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.btn_card_file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
}

.card_text_comment:hover {
    cursor: pointer;
    color: rgb(51, 155, 246);
}

.card-text, .card-title {
    margin: 0 0 5px 10px;
    padding: 3px;
    word-break: break-all;
}

.card_img {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn_edit_user {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.btn_delete_user:hover {
    color: #f13a0f;
    border-color: #f13a0f;
}

.ant-form-item-control-input-content {
    display: flex;
    width: 100%;
    line-height: 100%;
    justify-content: center;
    gap: 5px;
}

.input_form {
    transition: 0.4s;
}

.cards_file {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.user_menu_auth_smile {
    font-size: 30px;
}
