.input_create_form {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
}

.form_input_item {
    width: 200px;
}

.btn_create_user {
    cursor: pointer;
    color: SeaGreen;
    font-size: 23px;
}